/* common stylee */
main{
    margin:140px;
}

/* Style of banner section start from here */
.banner{
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    height:600px;
    width: 1320px;
    margin: 50px 140px;
    font-family: "Merriweather", serif;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 170px 0px;

}
.new-year-head{
    
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.party-celebration{
    font-size: 72px;
    font-weight: 900;
    margin: 0px;
}
/* 60% off section start from here */
.off-section{
    align-items: center;
    font-family: "Inter", serif;
    display: block;
}
.off-section-title{
    color: rgb(255, 0, 0);
    font-size: 90px;
    font-weight: 700;
    text-align: center;
}
.off-section-deal{
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.off-section-title2{
    color: rgb(7, 2, 17);
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
/* .off-section-img{
    display: block;
align-items: center;
} */

/* Mid night party section style from here */
.midnight-party{
    background-image: url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: flex;
}
.midnight-party-welcome{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}
.midnight-party-discription{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    
}
.midnight-party-join-btn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    text-align: center;
    background: none;
    font-weight: 400;
    border: none;
}

/* }event details start from here */
.event-details{
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
}
.event-details span{
    color: rgb(255, 0, 0);
}
.join-btn{
    border-radius: 8px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 167px;
    height: 56px;
    border: none;
}
/* best offer style start from here */
.best-offer{
    display: flex;
}
.best-offer-img{
    border-radius: 50%;
border: 15px solid rgb(255, 0, 0);
padding: 50px;
}
/* holidays sale section style */
.holiday-sale{
    text-align: center;
}
.title-1{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.holiday-sale-title-2{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 0%;
}
.holiday-sale-title-2 span{
    color:rgb(255, 0, 0);
}
.holiday-sale-discription{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0%;
}

/* image discount 50% style */
.discout-img{
    background-image:url(../resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
}
.icon-off{
background-image: url(../resources/Rectangle\ 1.png);
background-repeat: no-repeat;
}

/* best gitf section style */
.best-gitf-title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.awesome-gift-title{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
}
.gift-discription{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.gift-image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:25px;
}
/* Subscribe and newslatter option style */
.subscribe-option{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
}
.subs-title{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.subs-discription{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.subscribe-btn{
    padding: 0px;
    margin: 0px;
}
.subs-email{
    width: 440px;
    height: 70px;
    border-radius: 50px 0px 0px 50px;
    background: rgb(255, 255, 255);
    margin: 0px;
    border: none;
    text-align: center;
}
.subs-btn{
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
    width: 210px;
    height: 70px;
    margin: 0px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

/* footer section style */
footer{
    width: auto;
height: 600px;
background: rgb(7, 2, 17);
padding: 120px 140px;
}
.footer-details{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin: 20px;

}
.location-contact, .copyright-unsubs{
    display: flex;
    justify-content: space-between;
}
.social-link{
    text-align: center;
}